* {
    margin:0;
    box-sizing: border-box;
}
.container {
    background-color: white;
    border:5px solid green;
    padding: 10px;
    position:relative;
}
nav ul li{
    color:rgb(255, 0, 140);

}
.navigator {
    background-color: white;
    border:5px solid rgb(255,0,140) ;
    margin:5px;
    height:150px;
    max-width:200px;
    padding: 10px;

    position:absolute;
    left:0px;
    width:200px;


}

.sec {
    border:5px solid yellow;
    padding: 10px;
    margin: 5px;

    margin-left: 200px;

}